<!DOCTYPE HTML>
<html>
<head>
    <title>Ichos</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/static/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="/static/assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Welcome</a></li>
                <li><a href="#one">Alzheimer's Disease</a></li>
                <li><a href="#two">Respiratory Diseases</a></li>
                <li><a href="#three">Specific Language Impairment</a></li>
                <li><a href="#four">How We Built It</a></li>
                <li><a href="#five">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>Ichos</h1>
            <p>A novel AI-powered application that diagnoses some of the most common and severe diseases at its earliest
                stages using only your voice. Ichos is a modern solution that provides inexpensive, more accurate, and
                accessible healthcare.</p>
            <ul class="actions">
                <li><a href="#one" class="button scrolly">Learn more</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section class="wrapper style2 spotlights">
        <section id="one">
            <a class="image"><img src="/static/images/pic01_brain.jpg" alt="" data-position="center center"/></a>
            <div class="content">
                <div class="inner">
                    <h2> Alzheimer's Disease</h2>
                    <p> Every year, there are over 500,000 Americans diagnosed with Alzheimer's Disease with an
                        additional 100,000 people dying from the disease globally. Furthermore, Alzheimer's is one of
                        the hardest diseases to diagnose with expert neurologists only able to classify the disease
                        correctly 77% of the time. We provide a novel framework using cutting edge artificial
                        intelligence techniques that can diagnose the disease at its earliest stages using only speaking
                        data with an accuracy of 97%, making it 20% more accurate than a doctor.</p>
                    <h3>Instructions</h3>
                    <p>Say a short sentence in a conversational tone, keep it down to 1-3 seconds, (ex. The quick brown fox jumps over the lazy dog).</p>
                    <ul class="actions">
                        <form action="http://localhost:5000/alzhiemersuploader" method="POST"
                              enctype="multipart/form-data">
                            <ul class="actions">
                                <label class="button icon solid fa-upload">
                                    <span>Upload .wav file</span>
                                    <input type="file" id="files1" name="file" required></input>
                                    <div id="files-filename1"></div>
                                </label>
                                <li><input type="submit"/></li>
                            </ul>
						</form>
                    </ul>
                </div>
            </div>
        </section>
        <section id="two">
            <a class="image"><img src="static/images/pic02_lung.jpg" alt="" data-position="top center"/></a>
            <div class="content">
                <div class="inner">
                    <h2>Respiratory Diseases</h2>
                    <p>According to the WHO, respiratory diseases are the fourth leading cause of death globally. There
                        are a multitude of different respiratory diseases that are difficult to classify without
                        expensive equipment and experienced doctors. This is why we created an accessible, easy-to-use
                        model utilizing advanced machine learning architectures to classify 6 of the most common types
                        of respiratory diseases such as Asthma, Pneumonia, Bronchiectasis, Bronchiolitis, Chronic
                        Obstructive Pulmonary Disease, and Upper and Lower Respiratory Tract Infections solely using
                        audio from a digital stethoscope with an accuracy of 85%. Furthermore, we have modelled a
                        stethoscope that can provide high quality digital recordings and an accessible diagnosis option
                        regardless of medical expertise. We hope that our diagnostic framework for respiratory diseases
                        can one day be a more accessible solution in low-income communities that could save thousands of
                        lives. </p>
                    <h3>Instructions</h3>
                    <p>Use stethoscope. Put some definition about stethoscope here.</p>
                    <img src="static/images/Full_animation_v1.gif"  width="400" class="center"/>
                    <br>
                    <ul class="actions">
                        <form action="http://localhost:5000/respiratoryuploader" method="POST"
                              enctype="multipart/form-data">
                            <ul class="actions">
                                <label class="button icon solid fa-upload">
                                    <span>Upload .wav file</span>
                                    <input type="file" id="files2" name="file" required></input>
                                    <div id="files-filename2"></div>
                                </label>
                                <li><input type="submit"/></li>
                            </ul>
                        </form>
                    </ul>

                </div>
            </div>
        </section>
        <section id="three">
            <a class="image"><img src="static/images/pic03_lang.jpg" alt="" data-position="25% 25%"/></a>
            <div class="content">
                <div class="inner">
                    <h2>Specific Language Impairment</h2>
                    <p>Specific Language Impairment is a disorder that affects children's ability to communicate. It
                        affects reading, writing, speaking, and listening. Current techniques to detect SLI are
                        observational or requires testing. Our solution processes one audio clip of a child and
                        classifies SLI with over 75% accuracy rate and is much quicker than traditional methods.</p>
                    <ul class="actions">
                        <form action="http://localhost:5000/sliuploader" method="POST"
                              enctype="multipart/form-data">
                            <ul class="actions">
                                <label class="button icon solid fa-upload">
                                    <span>Upload .wav file</span>
                                    <input type="file" id="files3" name="file" required></input>
                                    <div id="files-filename3"></div>
                                </label>
                                <li><input type="submit"/></li>
                            </ul>
						</form>
                    </ul>
                </div>
            </div>
        </section>
    </section>

    <!-- Two -->
    <section id="four" class="wrapper style3 fade-up">
        <div class="inner">
            <h2>How We Built it</h2>
            <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada
                quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit
                quis lorem.</p>
            <div class="features">
                <section>
                    <span class="icon solid major fa-code"></span>
                    <h3>Cutting Edge</h3>
                    <p>We utilized multiple state-of-the-art machine learning techniques including convolutional neural
                        networks, random forest decision tree models, and logistic regression classifiers to create
                        novel models created in Python (using libraries such as Tensorflow, Keras, and Scikit-Learn) and
                        seamlessly integrated them Infections a simple and easy-to-use website interface written in
                        JavaScript, HTML, and CSS.</p>
                </section>
                <section>
                    <span class="icon solid major fa-lock"></span>
                    <h3>Secure</h3>
                    <p>Secure and anonymous file management ensures users have utmost privacy.</p>
                </section>
                <section>
                    <span class="icon solid major fa-stopwatch"></span>
                    <h3>Quick</h3>
                    <p>Fast diagnosis without the need for multiple tests or scheduling an appointment. Just upload a
                        file, and your results will be ready.</p>
                </section>
                <section>
                    <span class="icon solid major fa-bullseye"></span>
                    <h3>Accurate</h3>
                    <p>We used thousands of data points to train models more accurate than both traditional and current
                        machine learning techniques.</p>
                </section>
                <section>
                    <span class="icon solid major fa-cloud"></span>
                    <h3>Hosted on the Cloud</h3>
                    <p>Our application is hosted on Amazon Web Services, reducing power limitations and making it more
                        accesible</p>
                </section>
                <section>
                    <span class="icon major fa-money-bill-wave"></span>
                    <h3>Cheap</h3>
                    <p>Requires little to no additional gear other than a microphone and a digital stethoscope</p>
                </section>
            </div>
            <!-- <ul class="actions">
                <li><a href="respiratory" class="button">Learn more</a></li>
            </ul> -->
        </div>
    </section>

    <!-- Three -->
    <section id="five" class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Get in touch</h2>
            <p>We deeply value your feedback to improve our product. If you are looking into partnering with us to do
                clinical testing or have any feedback to improve our product, feel free to contact us below.</p>
            <div class="split style1">
                <section>
                    <form
                            action="https://formspree.io/f/xayazqbn"
                            method="POST"
                    >
                        <label>
                            Your email:
                            <input type="email" name="_replyto" required>
                        </label>
                        <label>
                            Subject:
                            <input type="text" name="subject" required/>
                        </label>
                        <label>
                            Your message:
                            <textarea name="message" rows = "5" id = noresize required></textarea>
                        </label>
                        <!-- your other form fields go here -->
                        <button type="submit">Send</button>
                    </form>
                </section>
                <section>
                    <ul class="contact">
                        <li>
                            <h3>Address</h3>
                            <span>6560 Braddock Rd<br/>
											Alexandria, VA 22312<br/>
											USA</span>
                        </li>
                        <li>
                            <h3>Email</h3>
                            <a href="#">user@untitled.tld</a>
                        </li>
                        <li>
                            <h3>Phone</h3>
                            <span>(000) 000-0000</span>
                        </li>
                        <li>
                            <h3>Social</h3>
                            <ul class="icons">
                                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
                                </li>
                                <li><a href="#" class="icon brands fa-facebook-f"><span
                                        class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="icon brands fa-instagram"><span
                                        class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon brands fa-linkedin-in"><span
                                        class="label">LinkedIn</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </section>

</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li>Ichos. All rights reserved.</li>
            <li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/jquery.scrollex.min.js"></script>
<script src="static/assets/js/jquery.scrolly.min.js"></script>
<script src="static/assets/js/browser.min.js"></script>
<script src="static/assets/js/breakpoints.min.js"></script>
<script src="static/assets/js/util.js"></script>
<script src="static/assets/js/main.js"></script>

</body>
</html>